#demo3
    .minibox
        width: 100px
        height: 100px
        border: 2px solid #f3f707
        display: inline-block
        transition: 3s
        &:hover
            border-radius: 50px
            background-color: #2500ac
    .minibox2
        transform: translate(500px,100px)
        width: 100px
        height: 100px
        border: 2px solid #f3f707
        transition: 3s
        &:hover
            background-color: #c53232
            border-radius: 50px
