#demo4
    .textbox
        .btn
            background-color: #00ff00
            padding: 20px 40px
            font-size: 40px
            transition: 2s
            span
                display: none
            &:hover
                color: white
                background-color: black
                span
                    display: block
                    font-size: 40px


