#demo1
    .minibox
        width: 70px
        height: 70px
        border: 3px solid #d11212
        transition: 3s
        font-size: 30px
        &:hover
            width: 130px
            border: 10px solid #007de4

    @media screen and ( min-width: 576px  )
        .minibox
            width: 100px
            height: 100px
            border: 3px solid #050505
            transition: 3s
            font-size: 50px 
            &:hover
                width: 200px
                border: 10px solid #00ff73

    @media screen and ( min-width: 768px)
        .minibox
            width: 150px
            height: 150px
            border: 3px solid #bbff01
            transition: 3s
            font-size: 70px
            &:hover
                width: 300px
                border: 10px solid #8d2888

    @media screen and ( min-width: 992px)
        .minibox
            width: 200px
            height: 200px
            border: 3px solid #887539
            transition: 3s
            font-size: 90px
            &:hover
                width: 400px
                border: 10px solid #547964
